/*  MICROTHEMER STYLES  */

/*= Full Code Editor CSS ====== */

.cardapio .uagb-rm__title-wrap {
	width: 220px
}
.cardapio .uagb-rm__price {
	width: 70px;
	color: #C66330;
	

}
#post-93 .has-ast-global-color-5-color {
	
}


/*= Geral ===================== */

/** Geral >> cardapioHome **/
cardapioHome {
	
}


/*= Conteúdo ================= */

/** Conteúdo >> CardapioLabel **/
cardapioLabel {
	
}

